<header tuiNavigationHeader class="flex justify-between items-center">
  <span tuiNavigationLogo>
    Bitee 🍴
  </span>
  
  <nav tuiNavigationMain class="flex items-center gap-4 mr-4">
    <a
      appearance="primary"
      tuiButton
      type="button"
      routerLink="/login"
    >
      <tui-icon icon="@tui.user" ></tui-icon>
        {{ 'Zaloguj się' }}
    </a>
    <a
      tuiButton
      appearance="outline"
      type="button"
      routerLink="/register"
    >
      {{ 'Zarejestruj się' }}
      <tui-icon icon="@tui.arrow-right" ></tui-icon>
    </a>
  </nav>
</header>